.contribution-form {
  &__top {
    display: flex;
    width: 100%;
    margin-bottom: 18px;

    @media (max-width: $mobile-max-width) {
      flex-wrap: wrap;
    }
  }

  &__left {
    position: relative;

    flex-shrink: 0;
    width: 503px;
    padding-right: 41px;

    &::after {
      content: "";

      position: absolute;
      top: 27px;
      right: 2px;

      width: 1px;
      height: 476px;

      background-color: rgba(0, 0, 0, .8);
      box-shadow: 1px 0 0 0 rgba(255, 255, 255, 0.1);
    }
  }

  &__contribution-title {
    margin-top: 0;
    margin-bottom: 31px;
    padding-right: 15px;

    font-size: 24px;
    font-weight: normal;
    text-align: center;
  }

  &__rate {
    margin-right: 10px;
    margin-bottom: 17px;
  }

  &__available-funds {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;

    font-size: 22px;
  }

  &__available-funds-text {
    max-width: 70%;
  }

  &__available-funds-amount {
    max-width: 25%;
    margin-left: 9px;
  }

  &__rate-range {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 28px;
  }

  &__rate-input.number-input {
    width: 121px;
    margin-right: 18px;
  }

  &__btn {
    margin-bottom: 24px;

    &:not(:nth-of-type(4n)) {
      margin-right: 3px;
    }
  }

  &__text {
    margin-top: 0;
    margin-bottom: 21px;
    padding-left: 4px;

    font-size: 20px;

    &_right {
      margin-bottom: 14px;
      padding-right: 20px;
    }
  }

  &__auto-purchase-btn.btn {
    position: relative;

    width: 99%;
    margin-bottom: 20px;
    padding-right: 20px;
    padding-left: 25px;

    text-align: left;
  }

  &__fast-landing-wrap,
  &__auto-buy-wrap {
    position: relative;

    &::after {
      content: "";

      position: absolute;
      bottom: 0;
      left: 0;

      width: 100%;
      height: 1px;

      background-color: rgba(0, 0, 0, .6);

      box-shadow: 0 1px 0 0 rgba(255, 255, 255, .1);
    }
  }

  &__fast-landing-wrap {
    margin-bottom: 13px;
    padding-bottom: 12px;
  }

  &__auto-buy-wrap {
    margin-bottom: 13px;
    padding-bottom: 10px;
  }

  &__fast-landing,
  &__auto-buy {
    margin-bottom: 10px;

    font-size: 24px;
  }

  &__right {
    padding-top: 21px;
    padding-left: 40px;
  }

  &__automatic-rate,
  &__if-min,
  &__by-to {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding-right: 10px;

    font-size: 22px;
  }

  &__if-min,
  &__by-to {
    margin-bottom: 10px;
  }

  &__save-settings {
    font-size: 20px;

    .checkbox__label {
      width: 330px;
    }
  }

  &__automatic-rate {
    .label-text:first-of-type {
      width: 170px;

      text-align: right;
    }
  }

  &__automatic-input,
  &__if-min-input,
  &__by-to-input {
    margin-right: 10px;
    margin-left: 10px;
  }

  &__bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;

    .contribution-form__btn {
      width: 147px;
      margin-right: 10px;
    }
  }
}
